.u-section-1 .u-sheet-1 {
  min-height: 398px;
}

.u-section-1 .u-text-1 {
  margin: 110px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 12px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 12px auto 52px;
  padding: 8px 33px;
}